@font-face {
  font-family: 'EBG12-Re';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/EBGaramond12-Regular.eot');
  src: url('fonts/EBGaramond12-Regular.woff') format('woff'),
       url('fonts/EBGaramond12-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "EBG12-Re";
  font-style: italic;
  font-weight: normal;
  src: url('fonts/EBGaramond12-Italic.eot');
  src: url('fonts/EBGaramond12-Italic.woff') format('woff'),
       url('fonts/EBGaramond12-Italic.ttf') format('truetype');
}
