<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  {% if vals %}
    <script language="javascript">
      // fill in the form as directed, but keep it clearable
      window.onload = function() {
        {% for k, v in vals.items() %}
        document.getElementById("{{ k }}").value = "{{ v }}";
        {% endfor %}
      };
    </script>
  {% endif %}
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flashes">
      {% for category, message in messages %}
        {% if category == 'git' %}
          <pre class="git">{{ message }}</pre>
        {% elif category == 'error' %}
          <div class="error"><strong>Error:</strong> {{ message }}</div>
        {% else %}
          <div class="{{ category }}">{{ message }}</div>
        {% endif %}
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>
</html>
