{% extends "base.html" %}
{% block title %}CNF input{% endblock %}
{% block content %}
  <nav>
    <span><a href="logout">Logout</a></span>
    <span>CNF</span>
    <span><a href="vnf">VNF</a></span>
    <span><a href="bib">Bib</a></span>
  </nav>
  <form method="post">
    <table>
      <tr>
        <th>
          <label for="nym">Nym</label>
        </th>
        <td>
          <input id="nym" name="nym" type="text" required autofocus/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="gen">Gender</label>
        </th>
        <td>
          <select id="gen" name="gen">
            <option value="M">Masculine</option>
            <option value="F">Feminine</option>
            <option value="U">Unknown</option>
          </select>
        </td>
      </tr>
      <tr>
        <th>
          <label for="etym">Etymology</label>
        </th>
        <td>
          <textarea id="etym" name="etym" cols="60" rows="5"></textarea>
        </td>
      </tr>
      <tr>
        <th>
          <label for="usg">Usage</label>
        </th>
        <td>
          <textarea id="usg" name="usg" cols="60" rows="5"></textarea>
        </td>
      </tr>
      <tr>
        <th>
          <label for="def">Definition</label>
        </th>
        <td>
          <textarea id="def" name="def" cols="60" rows="5"></textarea>
        </td>
      </tr>
      <tr>
        <th>
          <label for="note">Note</label>
        </th>
        <td>
          <textarea id="note" name="note" cols="60" rows="5"></textarea>
        </td>
      </tr>
      <tr>
        <td/>
        <td>
          <button type="submit" value="Submit">Submit</button>
          <button type="reset" value="Clear">Clear</button>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}
