{% extends "form.html" %}
{% block title %}VNF input{% endblock %}
{% block head %}
  {{ super() }}

  <script src="{{ url_for('static', filename='funcs.js') }}" type="application/javascript"></script>

  {% if vals %}
    <script language="javascript">
      // fill in the form as directed, but keep it clearable
      window.onload = function() {
        {% for k, v in vals.items() if k != 'nym' and v %}
          document.getElementById("{{ k }}").value = "{{ v|replace('\\', '\\\\')|replace('"', '\\"')|safe }}";
        {% endfor %}

        {% if vals.getlist('nym') %}
          {% if vals.getlist('nym')|length > 1 %}
            // ensure there are enough nym inputs
            var button = document.getElementById("add_nym");
            for (var i = 1; i < {{ vals.getlist('nym')|length }}; ++i) {
              addNymInput(button);
            }
          {% endif %}

          // fill the nym inputs
          var nlist = document.getElementsByName("nym");
          {% for v in vals.getlist('nym') %}
            nlist[{{ loop.index0 }}].value = "{{ v|replace('\\', '\\\\')|replace('"', '\\"')|safe }}";
          {% endfor %}
        {% endif %}
      };
    </script>
  {% endif %}
{% endblock %}
{% block content %}
  <form method="post" onsubmit="return validateVNF();">
    <table>
      <tr>
        <th>
          <label for="name">Name</label>
        </th>
        <td>
          <input id="name" name="name" type="text" required autofocus/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="nym">Nym</label>
        </th>
        <td>
          <input id="nym_0" name="nym" type="text" list="nym_list_0" autocomplete="off" onblur="validateNym(this);" oninput="setNymKeys(this, '{{ url_for('nyms') }}?prefix=' + encodeURIComponent(this.value));"/>
          <datalist id="nym_list_0">
          </datalist>
          <button id="add_nym" type="button" tabindex="-1" onclick="addNymInput(this);">+</button>
        </td>
      </tr>
      <tr>
        <th>
          <label for="gen">Gender</label>
        </th>
        <td>
          <select id="gen" name="gen">
            <option value="M">Masculine</option>
            <option value="F">Feminine</option>
            <option value="U">Unknown</option>
          </select>
        </td>
      </tr>
      <tr>
        <th>
          <label for="case">Case</label>
        </th>
        <td>
          <select id="case" name="case">
            <option value="n/a">n/a</option>
            <option value="abl">Ablative</option>
            <option value="acc">Accusative</option>
            <option value="dat">Dative</option>
            <option value="gen">Genitive</option>
            <option value="nom">Nominative</option>
          </select>
        </td>
      </tr>
      <tr>
        <th>
          <label for="dim">Diminutive</label>
        </th>
        <td>
          <input id="dim" name="dim" type="checkbox"/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="lang">Language</label>
        </th>
        <td>
          <input id="lang" name="lang" type="text" required/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="place">Place</label>
        </th>
        <td>
          <textarea id="place" name="place" cols="60" rows="1" required></textarea>
        </td>
      </tr>
      <tr>
        <th>
          <label for="date">Date</label>
        </th>
        <td>
          <input id="date" name="date" type="text" required/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="key">Source</label>
        </th>
        <td>
          <input id="key" name="key" type="text" list="key_list" autocomplete="off" required onfocus="setBibKeys('{{ url_for('bibkeys') }}');" onblur="if (this.value) validateBibKey(this);"/>
          <datalist id="key_list">
          </datalist>
          <label for="loc">@</label>
          <input id="loc" name="loc" type="text"/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="note">Note</label>
        </th>
        <td>
          <textarea id="note" name="note" cols="60" rows="5"></textarea>
        </td>
      </tr>
      <tr>
        <td/>
        <td>
          <button type="submit" value="Submit">Submit</button>
          <button type="reset" value="Clear">Clear</button>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}
