@font-face {
  font-family: 'FreeSerif';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FreeSerifSubset.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FreeSerifSubset.woff') format('woff'),
       url('../fonts/FreeSerifSubset.ttf') format('truetype');
}

@font-face {
  font-family: 'FreeSerif';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/FreeSerifItalicSubset.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FreeSerifItalicSubset.woff') format('woff'),
       url('../fonts/FreeSerifItalicSubset.ttf') format('truetype');
}

@font-face {
  font-family: 'Fallback';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FreeSerifSubset.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FreeSerifSubset.woff') format('woff'),
       url('../fonts/FreeSerifSubset.ttf') format('truetype');
}
