body {
  margin: 6ex auto;
  max-width: 31em;

  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  hyphens: auto;

  color: black;

  line-height: 1.5;

  font-size: 1.333em;
  font-family: 'EBG12-Re', 'FreeSerif', 'Fallback', serif;

  font-variant-numeric: oldstyle-nums;
  font-feature-settings: 'onum';
  -moz-font-feature-settings: 'onum';
  -ms-font-feature-settings: 'onum';
  -o-font-feature-settings: 'onum';
  -webkit-font-feature-settings: 'onum';

  font-feature-settings: "dlig";
  -moz-font-feature-settings: "dlig";
  -ms-font-feature-settings: "dlig";
  -o-font-feature-settings: "dlig";
  -webkit-font-feature-settings: "dlig";

  font-feature-settings: "calt";
  -moz-font-feature-settings: "calt";
  -ms-font-feature-settings: "calt";
  -o-font-feature-settings: "calt";
  -webkit-font-feature-settings: "calt";
}

.nym {
  font-weight: bold;
}

.name {
  font-style: italic;
}

.gen {
  font-style: italic;
}

.dim {
  font-size: 0.875em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover, a:focus {
  color: #23527C;
  text-decoration: underline;
}

.bib_key {
/*
  font-feature-settings: "smcp";
  -moz-font-feature-settings: "smcp";
  -ms-font-feature-settings: "smcp";
  -o-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
*/
/*  font-style: italic; */
}

dd {
/*  margin-left: 1.5em; */
}

.index_nav {
  text-align: center;
  letter-spacing: -0.25pt;
}

.index_nav ul {
  padding: 0;
}

.index_nav ul li {
  display: inline;
}

.index_nav ul li:before {
  content: ' · ';
}

.index_nav ul li:first-child:before {
  content: '';
}

p.index_letter {
  clear: both;
  margin: 1.5em auto;
  overflow: auto;
}

p.index_letter:first-letter {
  float: left;
  font-size: 3.4em;
  color: red;
  margin: 0.055em 7.5pt 0 0;
}

a.letter_anchor {
  position: relative;
  top: -1em;
}

// p.index::first-letter { initial-letter: 2 2; }

.aldus {
  text-align: center;
  margin: 1em auto;
}

.citeme {
  font-size: 0.8em;
  border-top: 1pt solid;
  padding-top: 0.5em;
}

.citeme > cite {
  font-style: normal;
}
