{% extends "base.html" %}
{% block title %}Archives — Dictionary of Medieval Names from European Sources{% endblock %}
{% block content %}
<h1>Archives</h1>
<p>These archives contain historical editions of the <i>Dictionary</i>, to ensure the persistence and stability of citations.<p/>
<ul>
  <!-- TOP -->
  <li><a href="http://dmnes.org/2017/1">2017 Number 1</a> (27 August 2017)</li>
  <li><a href="http://dmnes.org/2016/4">2016 Number 4</a> (7 October 2016)</li>
  <li><a href="http://dmnes.org/2016/3">2016 Number 3</a> (17 July 2016)</li>
  <li><a href="http://dmnes.org/2016/2">2016 Number 2</a> (6 April 2016)</li>
  <li><a href="http://dmnes.org/2016/1">2016 Number 1</a> (2 January 2016)</li>
  <li><a href="http://dmnes.org/2015/3">2015 Number 3</a> (4 October 2015)</li>
  <li><a href="http://dmnes.org/2015/2">2015 Number 2</a> (30 June 2015)</li>
  <li><a href="http://dmnes.org/2015/1">2015 Number 1</a> (27 April 2015)</li>
</ul>

{% endblock %}
