<!doctype html>
<html lang="en-US">
<head>
{% block head %}
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/garamond.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/freefont.css') }}"/>
  <script>
    /* avoid FOUC, mainly in IE */
    document.documentElement.style.display = 'none';
    window.onload = function() {
      document.documentElement.style.display = 'block';
    }
  </script>
  <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
  <![endif]-->
{% endblock %}
</head>
<body>
  {% block flash %}{% endblock %}
  {% block header %}
  <header>
    <div id="site_title"><a href="{{ url_for('front') }}">Dictionary of Medieval Names<br/>from European Sources</a></div>

    <nav id="head_nav">
      <ul class="mhlist">
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('cnf_index') }}">Browse</a></li>
        <li><a href="{{ url_for('guide') }}">Guide</a></li>
        <li><a href="http://dmnes.wordpress.com">Blog</a></li>
        <li><a href="http://dmnes.org/media">Media</a></li>
      </ul>
    </nav>

    <div class="aldus">☙</div>
  </header>
  {% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}
  <footer>
    <div class="aldus">❧</div>
    <nav id="foot_nav">
      <ul class="mhlist">
        <li><a href="http://dmnes.org/archives">Archives</a></li>
        <li><a href="http://dmnes.org/contact">Contact</a></li>
<!--
        <li><a href="">Donate</a></li>
-->
        <li><a href="{{ url_for('colophon') }}">Colophon</a></li>
      </ul>
    </nav>
    <div id="copyright">© 2015 <a href="{{ url_for('about', _anchor='masthead') }}">The Editors</a>.</div>
  </footer>
  {% endblock %}
</body>
</html>
