{% extends "base.html" %}
{% block title %}{{ cnf['nym'] }}{% endblock %}
{% block content %}
<p>
  <span class="nym">{{ cnf['nym'] }}</span>
  <span class="gen">{{ cnf['gen'].lower() }}.</span>
  {% if cnf['etym'] %}
  <span class="etym">{{ cnf['etym']|safe }}</span>
  {% endif %}
</p>
  {% if cnf['usg'] %}
<div class="usg">
  {{ cnf['usg']|safe }}
</div>
  {% endif %}
  {%if cnf['def'] %}
<div class="def">
  {{ cnf['def']|safe }}
</div>
  {% endif %}

{% if vnfhtml %}
{{ vnfhtml|safe }}
{% endif %}

<div id="citeme">{%if preview %}Preview. <b>DO NOT</b> cite{% else %}Cite{% endif %} as: <cite>{{ authors }}. "{{ cnf['nym'] }}". In S.L. Uckelman, ed. <i>The Dictionary of Medieval Names from European Sources</i>, Edition {{ year }}, no. {{ number }}. http://dmnes.org/{{ year }}/{{ number }}/name/{{ cnf['nym'] }}.</cite></div>

{% endblock %}
