{% extends "base.html" %}
{% block title %}DMNES{% endblock %}
{% block content %}

{% macro index_nav(index) %}
<nav class="index_nav">
  <ul>
{% for i in index -%}
    <li><a href="#{{ i[0] }}">{{ i[0] }}</a></li>
{% endfor %}
  </ul>
</nav>
{% endmacro %}

{{ index_nav(index) }}
<div class="aldus">☙</div>

{% for i in index -%}
<p class="index_letter"><a class="letter_anchor" name="{{ i[0] }}"/>{{ i[0] }}
  {% for nym in i[1] -%}
<a href="{{ url_for('cnf', nym=nym) }}">{{ nym }}</a>
  {% endfor %}
</p>
{% endfor %}

<div class="aldus">❧</div>
{{ index_nav(index) }}
{% endblock %}
