{% extends "base.html" %}
{% block title %}Contact — Dictionary of Medieval Names from European Sources{% endblock %}
{% block content %}
<h1>Contact</h1>

<p>For questions about the <i>Dictionary</i>, its history, its contents, how to use the data, or how to contribute, please contact <a href="mailto:eic@dmnes.org">the Editor-in-Chief</a>.</p>

<p>For questions concerning the data format and the website, please contact <a href="mailto:uckelman@nomic.net">Joel Uckelman</a>.</p>

<p>For technical problems with the site, please contact the <a href="mailto:webmaster@dmnes.org">webmaster</a>.

<p>For technical problems with email to the dmnes.org domain, please contact the <a href="mailto:postmaster@dmnes.org">postmaster</a>.

<p><strong>Request an entry</strong>: The editorial team will prioritize new additions for the next edition on the basis of reader requests. Is the name you're looking for not in the <i>Dictionary</i>? Send an email to <a href="mailto:eic@dmnes.org">the Editor-in-Chief</a> with the name you are looking for, and you will be alerted when the relevant entry has been published.</p>

{% endblock %}
