{% extends "base.html" %}
{% block title %}Dictionary of Medieval Names from European Sources{% endblock %}
{% block content %}
<div class="front">
<h1>Edition {{ year }}, No. {{ number }}</h1>

<p>The <i>Dictionary of Medieval Names from European Sources</i> aims to document all given names recorded in European sources written between 500 and 1600. New editions are published quarterly.</p>

<p>Looking for a particular name? <a href="{{ url_for('cnf_index') }}">Browse</a> the entries.</p>

<p>Wondering how to interpret an entry? See the <a href="{{ url_for('guide') }}">guide</a>.</p>

<p>Want to know more? Read <a href="{{ url_for('about') }}">about</a> the project.</p>
</div>
{% endblock %}
