{% extends "base.html" %}
{% block title %}Guide — Dictionary of Medieval Names from European Sources{% endblock %}
{% block content %}
<h1>Guide</h1>

<p>The name in <strong>bold</strong> is the canonical name form (CNF), a standardized form of the name which may or may not occur in the extant literature. The CNF is followed by an indication of the gender, which is either f(eminine), m(asculine), or u(ncertain/unknown).  The gender is followed by the linguistic etymology.</p>

<p>The etymology is followed by information about important medieval people who bore the name—kings/queens, other rules; popes and patriarchs; and saints. This information is included because these names can be disproportionately represented because of the large number of documents originating from, e.g., a certain king or pope, and it is also included because local saints and rulers were often influential on the naming practices of parents.</p>

<p>Finally, there is a section [empty in the example above] including other relevant information, such as the occurrence of the name in medieval literature; related names; popularity statistics; references to other onomastic literature for further reading; etc.</p>

<p>The individual citations of the name, called variant name forms (VNFs) are grouped first by geography and then by language.  Within each language, VNFs are ordered by date.  For a single VNF, the following information is provided:</p>

<center>Date, spelling, source, location within source</center>

<p>Diminutives and nicknames are grouped separately from the full forms; full forms are indicated by the filled circle, and diminutives by the half circle.</p>

<p>Citation information is provided for each individual entry at the bottom.</p>

{% endblock %}
