{% extends "base.html" %}
{% block title %}Guide — Dictionary of Medieval Names from European Sources{% endblock %}
{% block content %}
<h1>Guide</h1>

<div id="explanation">

<div id="0">
<p>Click the arrow below for an explanation of the parts of a name entry.</p>
<nav class="arrows"><a href="#1">→</a></nav>
</div>

<div id="1">
<p>The name in <strong>bold</strong> is the canonical name form (CNF), a standardized form of the name which may or may not occur in the extant literature.</p>
<nav class="arrows"><a href="#0">←</a> <a href="#2">→</a></nav>
</div>

<div id="2">
<p>The canonical name form is followed by an indication of the gender, which is either f(eminine), m(asculine), or u(ncertain/unknown).</p>
<nav class="arrows"><a href="#1">←</a> <a href="#3">→</a></nav>
</div>

<div id="3">
<p>This is the linguistic etymology of the canonical name form.</p>
<nav class="arrows"><a href="#2">←</a> <a href="#4">→</a></nav>
</div>

<div id="4">
<p>The section following the etymology contains information about important medieval people who bore the name—kings/queens, other rules; popes and patriarchs; and saints. This information is included because these names can be disproportionately represented because of the large number of documents originating from, e.g., a certain king or pope, and it is also included because local saints and rulers were often influential on the naming practices of parents.</p>
<nav class="arrows"><a href="#3">←</a> <a href="#5">→</a></nav>
</div>

<div id="5">
<p>The next section contains other relevant information, such as the occurrence of the name in medieval literature, related names, popularity statistics, references to other onomastic literature for further reading, etc. This section may not be present in all entries.</p>
<nav class="arrows"><a href="#4">←</a> <a href="#6">→</a></nav>
</div>

<div id="6">
<p>Geographic area of citation.</p>
<nav class="arrows"><a href="#5">←</a> <a href="#7">→</a></nav>
</div>

<div id="7">
<p>Language of citation.</p>
<nav class="arrows"><a href="#6">←</a> <a href="#8">→</a></nav>
</div>

<div id="8">
<p>Diminutives and nicknames are grouped separately from the full forms; full forms are indicated by the filled circle ●, and diminutives by the half circle ◑.</p>
<nav class="arrows"><a href="#7">←</a> <a href="#9">→</a></nav>
</div>

<div id="9">
<p>Citation year. All citations following a year are from that year.</p>
<nav class="arrows"><a href="#8">←</a> <a href="#10">→</a></nav>
</div>

<div id="10">
<p>Name as found in source. All citations following a name share that spelling.</p>
<nav class="arrows"><a href="#9">←</a> <a href="#11">→</a></nav>
</div>

<div id="11">
<p>Case of name. Appears only for names in languages with cased proper nouns, such as Latin.</p>
<nav class="arrows"><a href="#10">←</a> <a href="#12">→</a></nav>
</div>

<div id="12">
<p>Bibliographic key. This is a unique key identifying the source.</p>
<nav class="arrows"><a href="#11">←</a> <a href="#13">→</a></nav>
</div>

<div id="13">
<p>Location in source. Where applicable, the location of the name within the source is indicated.</p>
<nav class="arrows"><a href="#12">←</a> <a href="#14">→</a></nav>
</div>

<div id="14">
<p>How to cite this entry. Citation information is provided for each individual entry at the bottom. The URL provided there is a stable, unique identifier for a particular entry and edition.</p>
<nav class="arrows"><a href="#13">←</a> <a href="#0">↺</a></nav>
</div>

</div>

<div id="example">

<p>
  <span class="nym">Charles</span>
  <span class="gen">m.</span>

  <span class="etym"><span class="lang">Old High German</span> <i>karl</i> 'man', <span class="lang">Old English</span> <i>c(e)arl, ceorl</i> 'freeman'.
   </span>

</p>

<div class="usg">
  <p>The name of numerous kings and emperors in France, Germany, Hungary, Sweden, England, Portugal, Norway, Bohemia, Spain, and Italy, a 12th C Flemish saint, a 14th C Breton saint, and a 16th C Italian saint.</p>
</div>

<div class="def">
  <p>The prominence of Charles the Great (Charlemagne) helped contribute to the name's enduring popularity.</p>
</div>

<div id="citations">
<dl>
<dt><span class="area">England</span></dt>
<dd>
<dl>
<dt><span class="lang citelang">Latin</span></dt>
<dd><span class="dim">●</span> <span class="date">1348</span> <span class="name">Caroli</span> (<span class="case">gen</span>) <a href="/cite/Caroli/1348/SocAntNor-3-3"><span class="bib_key">SocAntNor-3-3</span> <span class="bib_loc">no. 10</span></a>,
 <span class="name">Carolum</span> (<span class="case">acc</span>) <a href="/cite/Carolum/1348/SocAntNor-3-3"><span class="bib_key">ibid.</span> <span class="bib_loc">no. 9</span></a>;
 <span class="date">1349</span> <span class="name">Karoli</span> (<span class="case">gen</span>) <a href="/cite/Karoli/1349/SocAntNor-3-3"><span class="bib_key">ibid.</span> <span class="bib_loc">no. 11</span></a>,
 <span class="name">Karolum</span> (<span class="case">acc</span>) <a href="/cite/Karolum/1349/SocAntNor-3-3"><span class="bib_key">ibid.</span> <span class="bib_loc">no. 11</span></a>;
 <span class="date">1357</span> <span class="name">Karolo</span> (<span class="case">abl</span>) <a href="/cite/Karolo/1357/SocAntNor-3-3"><span class="bib_key">ibid.</span> <span class="bib_loc">no. 23</span></a></dd>
</dl>
</dd>

<dt><span class="area">France</span></dt>
<dd>
<dl>
<dt><span class="lang citelang">Old French</span></dt>
<dd><span class="dim">●</span> <span class="date">1313</span> <span class="name">Challes</span> <a href="/cite/Challes/1313/Paris1313"><span class="bib_key">Paris1313</span> <span class="bib_loc">p. 100</span></a></dd>
<dt><span class="lang citelang">Middle French</span></dt>
<dd><span class="dim">●</span> <span class="date">1392</span> <span class="name">Charles</span> <a href="/cite/Charles/1392/MemBret-II"><span class="bib_key">MemBret-II</span> <span class="bib_loc">col. 608</span></a>;
 <span class="date">1421</span> <span class="name">Charles</span> <a href="/cite/Charles/1421/favier"><span class="bib_key">favier</span> <span class="bib_loc">322</span></a>;
 <span class="date">1438</span> <span class="name">Charles</span> <a href="/cite/Charles/1438/favier"><span class="bib_key">ibid.</span> <span class="bib_loc">p. 267</span></a>;
 <span class="date">1588</span> <span class="name">Charles</span> <a href="/cite/Charles/1588/raymond1588"><span class="bib_key">raymond1588</span> <span class="bib_loc">p. 565</span></a></dd>
<dd><span class="dim">◑</span> <span class="date">1392</span> <span class="name">Charlot</span> <a href="/cite/Charlot/1392/MemBret-II"><span class="bib_key">MemBret-II</span> <span class="bib_loc">col. 602</span></a>;
 <span class="date">1418</span> <span class="name">Charlot</span> <a href="/cite/Charlot/1418/HGParis"><span class="bib_key">HGParis</span> <span class="bib_loc">p. 380</span></a>;
 <span class="date">1421</span> <span class="name">Charlot</span> <a href="/cite/Charlot/1421/favier"><span class="bib_key">favier</span> <span class="bib_loc">1226</span></a>;
 <span class="date">1423</span> <span class="name">Charlot</span> <a href="/cite/Charlot/1423/favier"><span class="bib_key">ibid.</span> <span class="bib_loc">343</span></a>;
 <span class="date">1438</span> <span class="name">Charlot</span> <a href="/cite/Charlot/1438/favier"><span class="bib_key">ibid.</span> <span class="bib_loc">250</span></a></dd>
</dl>
</dd>

</dl>
</div>

<div class="citeme" id="citeme">Cite as: <cite>S.L. Uckelman. "Charles". In S.L. Uckelman, ed. <i>The Dictionary of Medieval Names from European Sources</i>, Edition 2015, no. 1. http://dmnes.org/2015/1/name/Charles.</cite></div>

</div>

<script>
  var ex = document.getElementById('example');
  var classes = [
    'nym', 'gen', 'etym', 'usg', 'def', 'area', 'citelang',
    'dim', 'date', 'name', 'case', 'bib_key', 'bib_loc', 'citeme'
  ];

  function showPage(pnum) {
    for (var i = 0; i < 15; i++) {
      var e = document.getElementById(i);
      e.style.visibility = (i == pnum ? 'visible' : 'hidden');
    }

    if (pnum > 0) {
      for (var i = classes.length; i--; ) {
        var es = ex.getElementsByClassName(classes[i]);
        for (var j = es.length; j--; ) {
          es[j].style.backgroundColor = (pnum-1 == i ? '#ffaaaa' : 'transparent');
        }
      }
    }
  }

  showPage(0);

  window.onhashchange = function() {
    showPage(window.location.hash.substr(1));
  };

</script>

<!--

<p>/p>

<p></p>

<p>The individual citations of the name, called variant name forms (VNFs) are grouped first by geography and then by language.  Within each language, VNFs are ordered by date.  For a single VNF, the following information is provided:</p>

<center>Date, spelling, source, location within source</center>

-->

{% endblock %}
