{% extends "base.html" %}
{% block title %}Media — Dictionary of Medieval Names from European Sources{% endblock %}
{% block content %}
<h1>Media</h1>

<h3>Follow the <i>DMNES</i> online:</h3>
<p><a href="http://dmnes.wordpress.com/"><img src="images/wordpress.png" alt="wordpress icon"/></a> &#x0095; <a href="https://www.facebook.com/thedmnes"><img src="images/facebook.png" alt="facebook icon"/></a> &#x0095; <a href="https://twitter.com/theDMNES"><img src="images/twitter.png" alt="twitter icon"/></a>

<h3>Elsewhere in the media:</h3>
<ul>
  <li><a href="http://appellationmountain.net/sunday-summary-sweet-sixteen-of-2015/">Appellation Mountain: 'Sunday Summary: Sweet Sixteen of 2015!'</a>, April 19, 2015.</li>
  <li><a href="https://dmnes.wordpress.com/2015/03/10/dmnes-eic-on-the-radio/"><i>DMNES</i> EiC on Radio Newcastle</a>, March 10, 2015.</li>
  <li><a href="http://appellationmountain.net/sunday-summary-welcome-september/">Appellation Mountain: 'Sunday Summary: Welcome to September'</a>, September 7, 2014.</li>
</ul>
{% endblock %}
