{% extends "base.html" %}
{% block title %}Media — Dictionary of Medieval Names from European Sources{% endblock %}
{% block content %}
<h1>Media</h1>

<h2>Follow the <i>Dictionary</i> online:</h2>
<ul class="hlist follow">
  <li><a href="http://dmnes.wordpress.com/"><img src="{{ url_for('static', filename='images/wordpress.svg') }}" alt="wordpress icon"/></a></li>
  <li><a href="https://www.facebook.com/thedmnes"><img src="{{ url_for('static', filename='images/facebook.svg') }}" alt="facebook icon"/></a></li>
  <li><a href="https://twitter.com/theDMNES"><img src="{{ url_for('static', filename='images/twitter.svg') }}" alt="twitter icon"/></a></li>
</ul>

<h2>Elsewhere in the media:</h2>
<ul>
  <li><a href="http://appellationmountain.net/sunday-summary-sweet-sixteen-of-2015/">Appellation Mountain: 'Sunday Summary: Sweet Sixteen of 2015!'</a>, April 19, 2015.</li>
  <li><a href="https://dmnes.wordpress.com/2015/03/10/dmnes-eic-on-the-radio/"><i>DMNES</i> EiC on BBC Radio Newcastle</a>, March 10, 2015.</li>
  <li><a href="http://appellationmountain.net/sunday-summary-welcome-september/">Appellation Mountain: 'Sunday Summary: Welcome to September'</a>, September 7, 2014.</li>
</ul>
{% endblock %}
