{% extends "base.html" %}
{% block title %}{{ vnf['name'] }} {{ vnf['date'] }}{% endblock %}
{% block content %}
<p>
  <span class="name">{{ vnf['name'] }}</span>
  <span class="gen">{{ vnf['gen'] }}</span>
  <span class="case">{{ vnf['case'] }}</span>
  <span class="dim">{{ vnf['dim'] }}</span>
  <span class="lang">{{ vnf['lang'] }}</span>
  {% if vnf['place'] %}
  <span class="place">{{ vnf['place']|safe }}</span>
  {% endif %}
  <span class="date">{{ vnf['date'] }}</span>
  <a href="{{ url_for('bib', key=vnf['key']) }}"><span class="bibkey">{{ vnf['key'] }}</span></a>
  {% if vnf['bib_loc'] %}
  <span class="bibloc">{{ vnf['bib_loc'] }}</span>
  {% endif %}
</p>
{% if cnfs %}
<p>↪
  {% for cnf in cnfs %}
    <a href="{{ url_for('cnf', nym=cnf['nym']) }}"><span class="nym">{{ cnf['nym'] }}</span></a>
    {%- if not loop.last -%} {% endif -%}
  {% endfor %}
</p>
{% endif %}
{% endblock %}
